.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mine {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: cornflowerblue;
  color: #050000;
  }

  .myname {
    color: #222;
    font-weight: bold;
    font-size: large;
  }
  
  .bio {
    color: black;
    text-align: center;
    padding: 20px;
  }

  .label{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }

  .picture{
    
    border: #222 bold;
    padding: 0;
    margin-top: 10px;
  }